Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libitzam.pc
libtool
ltmain.sh
m4/
missing
.deps/
.libs/
*.lo
*.o
*.la
test/itzam_btree_test_insert
test/itzam_btree_test_stress
test/itzam_btree_test_strvar
test/itzam_btree_test_threads

